* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.container {
    margin: 20px auto;
}

.finished {
    pointer-events: none;
}

.game-info {
    display: flex;
}

.game-info .game-name {
    flex: 1;
}

.game-info .catogory {
    flex: 1;
    text-align: right;
}

.game-info .catogory span {
    text-transform: capitalize;
    color: #e91e64;
    font-weight: bold;;
}

hr {
    border: 1px solid #d1cdcd
}

.game-row {
    display: flex;
}

.game-row .drow {
 padding: 20px;
 height: 324px;
 background-color: #f8f8f8; 
 flex: 1;  
}

.game-row .drow .hangman {
    width: 150px;
    height: 280px;
    position: relative;
    margin: auto;
}

.game-row .drow .hangman.wrong-1 .stand {
    display: block;
}

.game-row .drow .hangman.wrong-2 .hang {
    display: block;
}

.game-row .drow .hangman.wrong-3 .rope {
    display: block;
}

.game-row .drow .hangman.wrong-4 .man .head {
    display: block;
}

.game-row .drow .hangman.wrong-5 .man .body {
    display: block;
}

.game-row .drow .hangman.wrong-6 .man .hands {
    display: block;
}

.game-row .drow .hangman.wrong-7 .man .hands::before {
    display: block;
}

.game-row .drow .hangman.wrong-8 .man .legs {
    display: block;
}

.game-row .drow .hangman.wrong-9 .man .legs::before {
    display: block;
}

.game-row .drow .hangman::before {
    content: " ";
    width: 60px;
    position: absolute;
    height: 4px;
    background-color: #222;
    bottom: 0;
    left: -30px;
}

.game-row .drow .hangman .stand {
    width: 4px;
    background-color: #222;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.game-row .drow .hangman .hang {
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #222;
    top: 26px;
    left: 0;
    display: none;
}

.game-row .drow .hangman .rope {
    width: 4px;
    background-color: #222;
    height: 40px;
    position: absolute;
    top: 26px;
    left: 80px;
    display: none;
}

.game-row .drow .hangman .man .head {
    width: 40px;
    height: 40px;
    border: 4px solid #222;
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top: 66px;
    display: none;
}

.game-row .drow .hangman .man .body {
    width: 4px;
    height: 100px;
    background-color: #222;
    position: absolute;
    left: 80px;
    top: 106px;
    display: none;
}

.game-row .drow .hangman .man .hands {
    width: 4px;
    height: 50px;
    background-color: #222;
    position: absolute;
    top: 120px;
    left: 63px;
    transform: rotate(45deg);
    display: none;
}

.game-row .drow .hangman .man .hands::before {
   content: " "; 
   width: 4px;
   height: 50px;
   background-color: #222;
   position: absolute;
   top: -22px;
   left: 26px;
   transform: rotate(94deg);
   display: none;
}

.game-row .drow .hangman .man .legs {
    width: 4px;
    height: 50px;
    background-color: #222;
    position: absolute;
    top: 199px;
    left: 63px;
    transform: rotate(45deg);  
    display: none;
}

.game-row .drow .hangman .man .legs::before {
    content: " "; 
    width: 4px;
    height: 50px;
    background-color: #222;
    position: absolute;
    top: -22px;
    left: 26px;
    transform: rotate(94deg);
    display: none;
}

.letters {
    flex: 1;
    padding: 15px;
    text-align: center;
}

.letters .letter-box {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #009688;
    border: 1px solid #ccc;
    color: white;
    margin-right: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.letters .clicked {
    pointer-events: none;
    opacity: .5;

}

.letters-guess {
    display: flex;
    min-height: 104px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f8f8f8;
    justify-content: center;
}

.letters-guess .guess-span {
    background-color: #fdfdfdfd;
    border-bottom: 1px solid #333;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 24px;
    transition: .3s;
    text-align: center;
}

.letters-guess .with-space {
    background-color: none;
    border: none;
    position: relative;
}

.letters-guess .with-space::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #222;
}

.win {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(56, 209, 56);
    text-align: center;
    z-index: 199999;
    border: 10px solid #e91e64
}

.win p,
.lose p {
font-size: 28px;
font-weight: bold;
color: white;
line-height: 75px;
}

.lose {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(230, 46, 46);
    text-align: center;
    z-index: 199999;
    border: 10px solid rgba(0, 0, 0, 0.384)
}









